---
import Layout from "@/layouts/Layout.astro";
import { db } from "@/lib/neon";

const { id } = Astro.params;

const stock = await db`SELECT * FROM toner_stock where toner_id = ${id}`;
const logs = await db`SELECT * FROM toner_logs where toner_id = ${id}`;

const concat = stock.concat(logs);

const pages = concat.map((page) => ({
  id: page.toner_id,
  name: page.toner_name,
  quantity: page.toner_amount,
  log_id: page.toner_log_id,
  log_messages: page.toner_log_message,
  log_timestamp: page.toner_log_timestamp,
}));


const page = pages.find((page) => page.id === id);
if (!page) return Astro.redirect("/404");
const { name, quantity, log_id, log_messages, log_timestamp } = page;
---

<Layout title={`${name}`}>
  <h1>{name}</h1>
  <p>Cantidad: {quantity}</p>
  <p>Log ID: {log_id}</p>
  <p>Log message: {(log_messages).slice(0,3)}</p>
  <p>Log timestamp: {log_timestamp}</p>
</Layout>
